
/*@import url('demo.css');*/

@font-face {
  font-family: 'fontawesome-selected';
	src: url("./fonts/fontawesome-selected.eot");
	src:
	url("./fonts/fontawesome-selected.eot?#iefix") format('embedded-opentype'),
	url("./fonts/fontawesome-selected.woff") format('woff'),
	url("./fonts/fontawesome-selected.ttf") format('truetype'),
	url("./fonts/fontawesome-selected.svg#fontawesome-selected") format('svg');
	font-weight: normal;
	font-style: normal;
}

.timeline {
    position: relative;
    list-style-type: none;
    padding: 30px 0 50px 0;
    font-family: 'Gorditas', Arial, sans-serif;
}

.timeline:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: 165px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQIW2NkQAP/gYARWQwkAOLDBeECjEAAkkEWAKtEFwAJAgAZEBP+oM1IkwAAAABJRU5ErkJggg==);
}

.event {
    position: relative;
    margin-bottom: 80px;
    padding-right: 40px;
}

.thumb {
    position: absolute;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 8px rgba(65,131,142,1),
		0 1px 1px rgba(255,255,255,0.5);
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-transform: scale(0.8) translateX(24px);
    -moz-transform: scale(0.8) translateX(24px);
    -o-transform: scale(0.8) translateX(24px);
    -ms-transform: scale(0.8) translateX(24px);
    transform: scale(0.8) translateX(24px);
}

.thumb:before {
    content: '';
    position: absolute;
    height: 8px;
    z-index: -1;
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPElEQVQYV2NkQAP/gYARCNDFUQRgirAphitEl0TngxXisg5ZnBGXIpgbYfIYjkb3BNxGbBLYxIgyEaQRAA8KKAWYsZtjAAAAAElFTkSuQmCC);
    width: 51px;
    top: 42px;
    left: 100%;
    margin-left: 8px;
}

.thumb span {
    color: #41838e;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    position: absolute;
    bottom: -30px;
}

.user-1 {
    background-image: url(../images/chewbacca.jpg);
}

.user-2 {
    background-image: url(../images/barf.jpg);
}

.user-3 {
    background-image: url(../images/darkhelmet.jpg);
}

.user-4 {
    background-image: url(../images/darthvader.jpg);
}

.user-5 {
    background-image: url(../images/leia.jpg);
}

.user-6 {
    background-image: url(../images/vespa.jpg);
}

.user-7 {
    background-image: url(../images/c3po.jpg);
}

.user-8 {
    background-image: url(../images/dotmatrix.jpg);
}

/* Transparent Checkbox/radio hack: leave the checkbox on top, hide it with opacity 0 */

.event label,
.event input[type="radio"] {
    width: 24px;
    height: 24px;
    left: 158px;
    top: 36px;
    position: absolute;
    display: block;
}

.event input[type="radio"] {
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.event label:after {
    font-family: 'fontawesome-selected';
    content: '\e702';
    background: #fff;
    border-radius: 50%;
    color: #41838E;
    font-size: 26px;
    height: 100%;
    width: 100%;
    left: -2px;
    top: -3px;
    line-height: 24px;
    position: absolute;
    text-align: center;
}

.content-perspective {
    margin-left: 230px;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}

.content-perspective:before {
    content: '';
    width: 37px;
    left: -51px;
    top: 45px;
    position: absolute;
    height: 1px;
    z-index: -1;
    background: #fff;
}

.content {
    -webkit-transform: rotateY(10deg);
    -moz-transform: rotateY(10deg);
    -o-transform: rotateY(10deg);
    -ms-transform: rotateY(10deg);
    transform: rotateY(10deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.content-inner {
    position: relative;
    padding: 20px;
    color: #333;
    border: none;
    border-left: 5px solid #41838e;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: #fff;
}

.content-inner h3 {
    font-size: 26px;
    padding: 5px 0 5px 0;
    color: #41838e;
}

.content-inner p {
    font-size: 18px;
    max-height: 0px;
    overflow: hidden;
    color: transparent;
    color: rgba(0,0,0,0);
    text-align: left;
}

.content-inner:before {
    font-family: 'fontawesome-selected';
    content: '\25c2';
    font-weight: normal;
    font-size: 54px;
    line-height: 54px;
    position: absolute;
    width: 30px;
    height: 30px;
    color: #41838e;
    left: -22px;
    top: 19px;
    z-index: -1;
}

/* Transitions */

.thumb,
.thumb span,
.content-inner h3 {
    -webkit-transition: all 0.6s ease-in-out 0.2s;
    -moz-transition: all 0.6s ease-in-out 0.2s;
    -o-transition: all 0.6s ease-in-out 0.2s;
    -ms-transition: all 0.6s ease-in-out 0.2s;
    transition: all 0.6s ease-in-out 0.2s;
}

.content-inner {
    -webkit-transition: box-shadow 0.8s linear 0.2s;
    -moz-transition: box-shadow 0.8s linear 0.2s;
    -o-transition: box-shadow 0.8s linear  0.2s;
    -ms-transition: box-shadow 0.8s linear 0.2s;
    transition: box-shadow 0.8s linear 0.2s;
}

.content {
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
    -moz-transition: -moz-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
    -o-transition: -o-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
    -ms-transition: -ms-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
    transition: transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
}

.content-inner p {
    -webkit-transition: max-height 0.5s linear, color 0.3s linear;
    -moz-transition: max-height 0.5s linear, color 0.3s linear;
    -o-transition: max-height 0.5s linear, color 0.3s linear;
    -ms-transition: max-height 0.5s linear, color 0.3s linear;
    transition: max-height 0.5s linear, color 0.3s linear;
}

/* Checked */

.event input[type="radio"]:checked + label:after {
    content: '\2714';
    color: #F26328;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.8);
}

.event input[type="radio"]:checked ~ .content-perspective:before {
    background: #F26328;
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner h3 {
    color: #F26328;
}

.event input[type="radio"]:checked ~ .content-perspective .content {
    -webkit-transform: rotateY(-5deg);
    -moz-transform: rotateY(-5deg);
    -o-transform: rotateY(-5deg);
    -ms-transform: rotateY(-5deg);
    transform: rotateY(-5deg);
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner {
    border-color: #F26328;
    box-shadow: 10px 0px 10px -6px rgba(0, 0, 0, 0.1);
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner p {
    max-height: 260px;
 /* Add media queries */
    color: rgba(0,0,0,0.6);
    -webkit-transition-delay: 0s, 0.6s;
    -moz-transition-delay: 0s, 0.6s;
    -o-transition-delay: 0s, 0.6s;
    -ms-transition-delay: 0s, 0.6s;
    transition-delay: 0s, 0.6s;
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner:before {
    color: #F26328;
}

.event input[type="radio"]:checked ~ .thumb {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 8px rgba(242,99,40,1),
		0 1px 1px rgba(255,255,255,0.5);
}

.event input[type="radio"]:checked ~ .thumb span {
    color: #F26328;
}

.event input[type="radio"]:checked ~ .thumb:before {
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAOfUjX+882+wYgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQBbNyaHFmzEqgAAAABJRU5ErkJggg==);
}

.content-inner p,
.thumb span,
.event label {
    -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 768px) {

	/*.content-inner h3 {
		font-size: 20px;
	}

	.content-inner p {
		font-size: 14px;
		text-align: justify;
	}

	.event input[type="radio"]:checked ~ .content-perspective .content-inner p {
		max-height: 500px;
	}
	*/
}

@media screen and (max-width: 480px) {
    .timeline::before {
        left: 50px;
    }

    .event {
        padding-right: 0px;
        margin-bottom: 100px;
    }

    .thumb {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

    .event input[type="radio"] {
        width: 100px;
        height: 100px;
        left: 0px;
        top: 0px;
    }

    .thumb:before,
	.event input[type="radio"]:checked ~ .thumb:before {
        background: none;
        width: 0;
    }

    .event label {
        display: none;
    }

    .content-perspective {
        margin-left: 0px;
        top: 80px;
    }

    .content-perspective:before {
        height: 0px;
    }

    .content {
        -webkit-transform: rotateX(-10deg);
        -moz-transform: rotateX(-10deg);
        -o-transform: rotateX(-10deg);
        -ms-transform: rotateX(-10deg);
        transform: rotateX(-10deg);
    }

    .event input[type="radio"]:checked ~ .content-perspective .content {
        -webkit-transform: rotateX(10deg);
        -moz-transform: rotateX(10deg);
        -o-transform: rotateX(10deg);
        -ms-transform: rotateX(10deg);
        transform: rotateX(10deg);
    }

    .content-inner {
        border-left: none;
        border-top: 5px solid #41838e;
    }

    .event input[type="radio"]:checked ~ .content-perspective .content-inner {
        border-color: #F26328;
        box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.1);
    }

    .content-inner:before {
        content: '\25b4';
        left: 33px;
        top: -32px;
    }

    .event input[type="radio"]:checked ~ .content-perspective .content-inner p {
        max-height: 300px;
    }
}


/**
 * Smooth Scroll To Top
 * Basic stylesheet with transition
 *
 * Author: Corina Rudel
 * Version: 1.0
 * Date: 130402
 */

/*
 * SMOOTH SCROLLING OF ROOT ELEMENT
 *
 * margin-top has to stay (without it, no more smooth scrolling ...)
 * the other transition properties are free to change
 */
.is-animated {
    -webkit-transition: margin-top .7s;
    -moz-transition: margin-top .7s;
    -o-transition: margin-top .7s;
    transition: margin-top .7s;
}

/*
 * SHOW/HIDE "TOP LINK WITH" LITTLE TRANSITION
 *
 * These styles only apply if there's only one single link
 * that triggers the smooth scroll to top
 */

/*
 * some basic styling for link-to-top
 */
.sstt.is-single {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 1em;
	margin: 0 1em 1em;
	background: #000;
	background: rgba(0, 0, 0, .6);
	color: #fff;
	border-radius: 1em;
	text-decoration: none;
}
/*
 * fixed link-to-top is disturbing on small screens
 * keep at bottom of document
 */
@media only screen and (max-width: 35em) {
	a.sstt.is-single {
		position: static;
		float: right;
	}
}
/*
 * link-to-top hidden
 * depends on setting for hiddenDistance
 * (has to be > 0)
 */
.sstt.is-hidden {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .7s, visibility 0s .7s;
	-moz-transition: opacity .7s, visibility 0s .7s;
	-o-transition: opacity .7s, visibility 0s .7s;
	transition: opacity .7s, visibility 0s .7s;
}
/*
 * link-to-top visible
 */
.sstt.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .7s;
	-moz-transition: opacity .7s;
	-o-transition: opacity .7s;
	transition: opacity .7s;
}
.sstt.is-visible:hover {
	background: #000;
}


/**--------------------------------------------------------------
	[Body, headings, page wrappers]
	--------------------------------------------------------------**/
html {
    font-size: 18px;
}

body {
    position: relative;
    width: 100%;
    min-width: 320px;
    line-height: 1.6;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    background: #fff;
    color: #111;
    font-size: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3 {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3.11111rem;
}

h2 {
    font-size: 2.22222rem;
    border-bottom: 3px solid #f44336;
    padding: 6px 0px;
}

h3 {
    font-size: 1.22222rem;
    margin: 40px 0px 22px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: #f44336;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:hover, a:focus, a:active {
    color: #f60;
    text-decoration: none;
    text-shadow: 0 0px 3px rgba(0,0,0,0.25);
}

p {
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
}

sup {
    color: #f44336;
}

#page-wrapper {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-x: hidden;
}

#page-sidebar-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #fff;
    padding: 24px 32px;
    width: 230px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 200;
}

#page-content-wrapper {
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 100;
    background: #f5f5f5;
}

#page-wrapper.toggled #page-sidebar-wrapper {
    -webkit-transform: translate3d(230px, 0, 0);
    transform: translate3d(230px, 0, 0);
    overflow-y: auto;
}

#page-wrapper.toggled #page-content-wrapper {
    -webkit-transform: translate3d(230px, 0, 0);
    transform: translate3d(230px, 0, 0);
    height: 100%;
}

#page-wrapper.toggled #page-content-overlay {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 100%;
    height: 100%;
    opacity: 0.48;
    z-index: 150;
}

#page-wrapper.toggled .responsive-menu {
    opacity: 1;
}

#page-content-overlay {
    position: absolute;
    background: #111;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.main-onepage section {
    padding: 80px 0px;
    background-color: #f5f5f5;
}

.main-onepage .container .row, .main-onepage .container-fluid .row {
    margin-left: 230px;
}

.main-onepage hr {
    margin: 0 0 0 230px;
    border-top: 1px solid #D4D4D4;
}

/**--------------------------------------------------------------
	[Header menu & navigation]
	--------------------------------------------------------------**/
.logo-wrapper {
    z-index: 300;
}

.logo-wrapper img {
    width: 100%;
}

.top-menu {
    margin-top: 32px;
    position: relative;
}

.top-menu li {
    display: block;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    padding: 5px 0px;
}

.top-menu li a {
    display: block;
    color: #111;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin-bottom: 10px;
}

.top-menu li a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #f44336;
    height: 2px;
    -webkit-transition: right 2s ease;
    transition: right 2s ease;
}

.top-menu li a:hover, .top-menu li a:focus, .top-menu li a:active {
    background: none;
}

.top-menu li a:hover:before/*, .top-menu li a:focus:before, .top-menu li a:active:before*/ {
    right: 0;
}

.top-menu li.has-child-menu:hover .child-menu {
    visibility: visible;
    opacity: 1;
}

.top-menu li.disabled a {
    color: #888 !important;
}

.top-menu li.disabled a:before {
    background: none;
}

.top-menu .child-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: -18px;
    right: -228px;
    background: #fff;
    padding: 18px 0px;
}

.top-menu .child-menu li {
    padding: 5px 32px 5px 64px;
}

.top-menu .child-menu li a {
    color: #111;
}

.top-menu .child-menu li a:before {
    right: 100%;
}

.top-menu .child-menu li a:hover, .top-menu .child-menu li a:focus, .top-menu .child-menu li a:active {
    background: none;
    color: #f44336;
}

.top-menu .child-menu li a:hover:before, .top-menu .child-menu li a:focus:before, .top-menu .child-menu li a:active:before {
    right: 0;
}

.top-menu .child-menu .current a {
    color: #f44336;
}

.top-menu .child-menu .current a:before {
    right: 0;
}

.top-menu .menu-next-btn, .top-menu .menu-prev-btn {
    color: #f44336;
    position: absolute;
    top: 2px;
    display: none;
    font-size: 13px;
    cursor: pointer;
    padding: 5px;
}

.top-menu .menu-prev-btn {
    left: -5px;
}

.top-menu .menu-next-btn {
    right: -5px;
}

.top-menu .active a, .top-menu .current a {
    color: #f44336;
}

.top-menu .active a:before, .top-menu .current a:before {
    right: 0;
}

.responsive-menu {
    width: 100%;
    background: #fff;
    z-index: 150;
    position: relative;
    padding: 10px 30px;
    display: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
}

.responsive-menu-heading {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.38889rem;
    color: #111;
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.responsive-menu-toggle {
    float: right;
    display: table-cell;
    vertical-align: middle;
}

.responsive-menu-toggle img {
    height: 25px;
}
/**--------------------------------------------------------------
	[Footer]
	--------------------------------------------------------------**/
.block-copyright {
    position: absolute;
    bottom: 24px;
    color: #888;
    text-transform: uppercase;
    font-size: 0.77778rem;
}

/**--------------------------------------------------------------
	[Section INTRO]
	--------------------------------------------------------------**/
.section-intro {
    background: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding: 80px 0px !important;
    background-color: #000 !important;
}

.section-intro .section-content {
    padding: 80px 0px;
}

.section-intro h1 {
    display: block;
    color: #f5f5f5;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
}

.section-intro h1 span {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
}

.section-intro h2 {
    display: inline-block;
    color: #D4D4D4;
    font-size: 18px;
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    padding: 15px 0px;
    margin: 30px 0px;
}

/**--------------------------------------------------------------
	[Section INTRO VIDEO BACKGROUND]
	--------------------------------------------------------------**/
.section-intro-videobackground {
    position: relative;
    background: none;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    background: url("img/bg2.jpg") no-repeat;
    background-position: 0 0 !important;
    background-size: cover;
}

.section-intro-videobackground h2 {
    padding: 15px 70px;
}

.section-intro-videobackground .section-content {
    position: absolute;
    height: 36vh;
    top: 0;
    left: 230px;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
}

.section-intro-videobackground .video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: 0;
}

.section-intro-videobackground .btn-cta {
    position: absolute;
    display: inline-block;
    bottom: 165px;
    left: 230px;
    right: 0;
    margin: auto;
    max-width: 200px;
    text-align: center;
}

.section-intro-videobackground .btn-cta:after {
    content: '';
    position: absolute;
    bottom: -173px;
    right: 0;
    left: 0;
    margin: auto;
    height: 170px;
    width: 3px;
    background: #f44336;
    z-index: 0;
}

/**--------------------------------------------------------------
	[Section ABOUT]
	--------------------------------------------------------------**/
.section-about .btn-cta {
    margin: 15px 0px;
    display: block;
    width: 100%;
    padding: 15px 0px;
}

.section-about .block-about-me {
    margin: 40px 0px;
}

.section-about .block-about-me .about-avatar {
    border: 3px solid #f44336;
    width: 100%;
}

.section-about .block-about-me .about-me-list {
    font-size: 1.11111rem;
}

.section-about .block-about-me .about-me-list li {
    margin-bottom: 25px;
}

.section-about .block-about-me .about-me-list li:last-child {
    margin-bottom: 0px;
}

.section-about .block-about-me .about-me-list li span {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.section-about .block-my-advantages {
    text-align: center;
}

.section-about .block-my-advantages .advantage-icon {
    display: inline-block;
    width: 64px;
}

.section-about .block-my-advantages .advantage-heading {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 0.88889rem;
    margin: 15px 0px;
    text-transform: uppercase;
}

/**--------------------------------------------------------------
	[Section SKILLS]
	--------------------------------------------------------------**/
.section-skills .block-circles-skills {
    padding: 45px 0px;
}

.section-skills .skill-wrapper {
    display: table;
}

.section-skills .circle-skill {
    position: relative;
    display: table-cell;
}

.section-skills .circle-skill canvas {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.section-skills .circle-skill strong {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 1.77778rem;
}

.section-skills .circle-skill strong i {
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
}

.section-skills .circle-skill-heading {
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
}

.section-skills .my-skill-heading, .section-skills .my-skill-exp {
    display: block;
}

.section-skills .my-skill-heading {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 1.11111rem;
    text-transform: uppercase;
}

.section-skills .my-skill-exp {
    margin-top: 12px;
    font-size: 0.88889rem;
}

.section-skills .knowledge-list {
    margin: 40px 0px;
}

.section-skills .knowledge-list li i {
    margin-right: 10px;
}

.section-skills .block-skillbars {
    margin: 40px 0px 0px;
}

.section-skills .skillbar-block {
    display: table;
}

.section-skills .skillbar-exp {
    display: table-cell;
    vertical-align: middle;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 2.66667rem;
    padding-right: 30px;
}

.section-skills .skillbar-exp i {
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.section-skills .skillbar-wrapper {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.section-skills .skillbar-wrapper .skillbar-heading {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
}

.section-skills .skillbar-container {
    background: #f44336;
    position: relative;
    height: 7px;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.section-skills .skillbar-container .bar-skill {
    background: #D4D4D4;
    position: absolute;
    left: 0;
    top: 0;
    height: 7px;
    width: 100%;
}

/**--------------------------------------------------------------
	[Section EXPERIENCE]
	--------------------------------------------------------------**/
.section-experience .block-timeline .timeline .event input[type="radio"]:checked + label:after {
    -webkit-box-shadow: 0 0 0 5px #f5f5f5;
    box-shadow: 0 0 0 5px #f5f5f5;
}

.section-experience .block-timeline .timeline .event label:after {
    -webkit-box-shadow: 0 0 0 2px #f5f5f5;
    box-shadow: 0 0 0 2px #f5f5f5;
    background: #f5f5f5;
}

.section-experience .block-timeline .timeline .content-inner {
    background: #f7f7f7;
}

/**--------------------------------------------------------------
	[Section EDUCATION]
	--------------------------------------------------------------**/
.section-education .block-timeline .timeline .event input[type="radio"]:checked + label:after {
    -webkit-box-shadow: 0 0 0 5px #eeeeee;
    box-shadow: 0 0 0 5px #eeeeee;
}

/**--------------------------------------------------------------
	[Section CONTACT]
	--------------------------------------------------------------**/
.section-contact .block-my-contact-form {
    margin-top: 40px;
}

.section-contact .block-my-contacts {
    display: table;
}

.section-contact .my-contact {
    display: table-row;
}

.section-contact .my-contact svg, .section-contact .my-contact img {
    display: table-cell;
    width: 50px;
}

.section-contact .my-contact figcaption {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 0px 28px 28px;
}

.section-contact .my-contact .my-contact-heading {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.section-contact .my-contact .my-contact-data {
    display: block;
}

.section-contact .block-my-social {
    margin-bottom: 22px;
}

.section-contact .block-my-social h3 {
    display: block;
}

.section-contact .block-my-social .social-links-list li {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 12px;
}

.section-contact .block-my-social .social-links-list li:last-child {
    margin-right: 0px;
}

.section-contact .block-my-social .my-social-link {
    display: inline-block;
    -webkit-filter: gray;
    filter: gray;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.section-contact .block-my-social .my-social-link img {
    width: 40px;
    height: 40px;
}

.section-contact .block-my-social .my-social-link:hover {
    -webkit-filter: none;
    filter: none;
}

.section-contact .contact-form {
    font-size: 0.88889rem;
}

.section-contact .contact-form input[type=text], .section-contact .contact-form input[type=email] {
    width: 100%;
    margin-bottom: 16px;
    padding: 15px;
    border: 2px solid #D4D4D4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.section-contact .contact-form input[type=text]:focus, .section-contact .contact-form input[type=email]:focus {
    border-color: #f44336;
    outline: none;
}

.section-contact .contact-form input[type=text]:invalid, .section-contact .contact-form input[type=email]:invalid {
    border-color: #ff0000;
    outline: none;
}

.section-contact .contact-form textarea {
    width: 100%;
    min-height: 190px;
    resize: none;
    padding: 15px;
    border: 2px solid #D4D4D4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.section-contact .contact-form textarea:focus {
    border-color: #f44336;
    outline: none;
}

.section-contact .contact-form textarea:invalid {
    border-color: #ff0000;
    outline: none;
}

.section-contact .contact-form button[type=submit] {
    margin-top: 24px;
    float: right;
    text-transform: uppercase;
    background: #f44336;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #f5f5f5;
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    line-height: 48px;
}

.section-contact .contact-form button[type=submit]:hover {
    background: #d02014;
}

.section-contact .contact-form button[type=submit]:focus {
    outline: none;
}

.section-contact .contact-form .progress-button .progress-inner {
    background: #db3c30;
}

.section-contact .contact-form .progress-button .content:after, .section-contact .contact-form .progress-button .content:before {
    color: #f5f5f5;
}

/**--------------------------------------------------------------
	[Section 404]
	--------------------------------------------------------------**/
.section-404 {
    text-align: center;
    background-color: #eeeeee !important;
    min-height: 100vh;
    padding: 0 !important;
    position: relative;
    display: table;
    width: 100%;
}

.section-404 .wrapper-404 {
    display: table-cell;
    vertical-align: middle;
    padding-left: 230px;
}

.section-404 h1 {
    display: block;
    position: relative;
    width: 100%;
    color: #888;
    font-size: 14.22222rem;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.section-404 h1:before, .section-404 h1:after {
    content: '';
    position: absolute;
    width: 174px;
    height: 8px;
    background: #888;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

.section-404 h1:after {
    background: #f44336;
    -webkit-transform: translate3d(-300%, 0, 0) scale3d(0, 1, 1);
    transform: translate3d(-300%, 0, 0) scale3d(0, 1, 1);
}

.section-404 h1 span {
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.section-404:hover h1 {
    color: #fff;
}

.section-404:hover h1:before {
    -webkit-transform: translate3d(300%, 0, 0) scale3d(0, 1, 1);
    transform: translate3d(300%, 0, 0) scale3d(0, 1, 1);
    opacity: 0;
}

.section-404:hover h1:after {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

.section-404:hover h1 span {
    color: #D4D4D4;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 180deg);
}

.section-404 h2 {
    display: block;
    width: 100%;
    font-size: 1.22222rem;
    border: none;
    padding: 0;
    margin: 32px 0px 25px;
}

.section-404 .btn-cta {
    margin-top: 22px;
    background: #f44336;
    color: #f5f5f5;
}

/**--------------------------------------------------------------
	[Section BLOG GRID]
	--------------------------------------------------------------**/
.section-blog-posts {
    margin-left: 280px;
    display: table;
}

.section-blog-posts .section-content {
    display: table-cell;
    width: 100%;
    vertical-align: top;
    padding-right: 49px;
}

.section-blog-posts aside.blog-sidebar {
    display: table-cell;
    width: 200px;
    vertical-align: top;
}

.section-blog-posts .blog-grid-sizer, .section-blog-posts .blog-post-preview {
    width: 50%;
}

.section-blog-posts h1 {
    border-bottom: 3px solid #f44336;
    padding: 0px 0px 6px;
    font-size: 2.22222rem;
    margin-left: 15px;
}

.section-blog-posts h2 {
    font-size: 1.22222rem;
    border: none;
    margin: 0 0px 10px;
    padding: 0;
}

.section-blog-posts .blog-post-preview {
    padding: 0px 15px;
    margin-top: 32px;
}

.section-blog-posts .blog-post-preview p {
    margin-bottom: 32px;
}

.section-blog-posts .blog-post-preview:after {
    content: '';
    display: block;
    border-bottom: 1px solid #D4D4D4;
    width: 100%;
}

.section-blog-posts .blog-post-mediablock {
    margin-bottom: 24px;
}

.section-blog-posts .blog-post-mediablock iframe {
    width: 100%;
    height: 350px;
}

.section-blog-posts .blog-post-content {
    padding: 0px 16px;
}

.section-blog-posts ul.blog-post-properties {
    margin-bottom: 16px;
}

.section-blog-posts ul.blog-post-properties li {
    display: inline-block;
    font-style: italic;
    margin-right: 15px;
    margin-bottom: 6px;
}

.section-blog-posts ul.blog-post-properties li:last-child {
    margin-right: 0;
}

.section-blog-posts ul.blog-post-properties img {
    width: 16px;
    margin-right: 6px;
    padding-bottom: 4px;
}

.section-blog-posts ul.blog-tags-list {
    margin-bottom: 32px;
}

.section-blog-posts ul.blog-pagination {
    margin-top: 40px;
    margin-left: 15px;
}

/**--------------------------------------------------------------
	[Section BLOG POST]
	--------------------------------------------------------------**/
.section-blog-post .blog-post {
    border-bottom: 2px solid #888;
}

.section-blog-post h1 {
    font-size: 1.22222rem;
    border: none;
    margin: 0;
    padding: 0;
}

.section-blog-post ul.blog-post-properties {
    margin: 10px 0px;
}

.section-blog-post ul.blog-post-properties li {
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    text-transform: none;
}

.section-blog-post ul.blog-tags-list {
    padding: 0px 0px 25px;
    border-bottom: 1px solid #D4D4D4;
}

.section-blog-post .blog-post-content {
    margin: 25px 0px;
    padding: 0;
}

.section-blog-post .blog-post-content a {
    text-decoration: underline;
}

.section-blog-post ul.social-links-list {
    margin-bottom: 22px;
}

.section-blog-post ul.social-links-list:before {
    content: 'Share:';
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 1.22222rem;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    margin-right: 22px;
    vertical-align: middle;
}

.section-blog-post .post-comments-counter {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 1.11111rem;
    text-transform: uppercase;
    line-height: 1;
    display: block;
    padding: 32px 0px;
    border-bottom: 1px solid #D4D4D4;
}

.section-blog-post ul.post-comments-list li {
    display: table;
    border-spacing: 0px 32px;
    border-collapse: separate;
    width: 100%;
    border-bottom: 1px solid #D4D4D4;
}

.section-blog-post ul.post-comments-list li.has-nested-comments {
    display: block;
}

.section-blog-post ul.post-comments-list li.has-nested-comments ul {
    display: table;
    padding-left: 8%;
}

.section-blog-post ul.post-comments-list li.has-nested-comments ul li {
    display: table-row;
}

.section-blog-post ul.post-comments-list .comment-avatar {
    display: table-cell;
    vertical-align: top;
}

.section-blog-post ul.post-comments-list .comment-avatar img {
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.section-blog-post ul.post-comments-list .comment-content {
    display: table-cell;
    vertical-align: top;
    padding-left: 28px;
    width: 100%;
}

.section-blog-post ul.post-comments-list .comment-content .comment-content-author {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    display: block;
    line-height: 1;
}

.section-blog-post ul.post-comments-list .comment-content .comment-content-info {
    display: block;
    font-style: italic;
    font-size: 0.88889rem;
    line-height: 1;
    color: #888;
    margin: 12px 0px;
}

.section-blog-post ul.post-comments-list .comment-content .comment-content-info a {
    text-decoration: underline;
}

.section-blog-post ul.post-comments-list .comment-content .comment-content-text {
    font-size: 0.88889rem;
}

.section-blog-post .form-comment {
    font-size: 0.88889rem;
}

.section-blog-post .form-comment .form-comment-heading {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.11111rem;
    line-height: 1;
    margin: 32px 0px;
}

.section-blog-post .form-comment input[type=text], .section-blog-post .form-comment input[type=email] {
    width: 100%;
    display: block;
    margin-bottom: 16px;
    padding: 15px;
    border: 2px solid #D4D4D4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.section-blog-post .form-comment input[type=text]:focus, .section-blog-post .form-comment input[type=email]:focus {
    border-color: #f44336;
    outline: none;
}

.section-blog-post .form-comment input[type=text]:invalid, .section-blog-post .form-comment input[type=email]:invalid {
    border-color: #ff0000;
    outline: none;
}

.section-blog-post .form-comment textarea {
    width: 100%;
    min-height: 190px;
    resize: none;
    padding: 15px;
    border: 2px solid #D4D4D4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.section-blog-post .form-comment textarea:focus {
    border-color: #f44336;
    outline: none;
}

.section-blog-post .form-comment textarea:invalid {
    border-color: #ff0000;
    outline: none;
}

.section-blog-post .form-comment button[type=submit] {
    display: block;
    margin-top: 24px;
    float: right;
    padding: 16px 36px;
    text-transform: uppercase;
    background: #f44336;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #f5f5f5;
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    line-height: 1;
}

.section-blog-post .form-comment button[type=submit]:hover {
    background: #d02014;
}

.section-blog-post .form-comment button[type=submit]:focus {
    outline: none;
}

/**--------------------------------------------------------------
	[Aside BLOG SIDEBAR]
	--------------------------------------------------------------**/
aside.blog-sidebar {
    float: right;
    margin-right: 32px;
    width: 200px;
    font-size: 0.88889rem;
}

aside.blog-sidebar .sidebar-section {
    margin-bottom: 30px;
}

aside.blog-sidebar h3 {
    margin: 0 0 8px;
    border-bottom: 3px solid #f44336;
    padding: 6px 0px;
    font-size: 1.11111rem;
}

aside.blog-sidebar .blog-search-form {
    margin-top: 16px;
    position: relative;
}

aside.blog-sidebar .blog-search-form input[type=text] {
    border: 1px solid #D4D4D4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 0.77778rem;
    padding: 10px 12px;
    width: 100%;
}

aside.blog-sidebar .blog-search-form input[type=text]:focus {
    border-color: #888;
}

aside.blog-sidebar .blog-search-form input[type=text]:focus ~ .btn-search {
    opacity: 1;
}

aside.blog-sidebar .blog-search-form .btn-search {
    position: absolute;
    top: 0;
    bottom: 2%;
    right: 0;
    margin: auto;
    opacity: 0.3;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

aside.blog-sidebar ul li {
    display: block;
    border-bottom: 1px solid #D4D4D4;
    padding: 13px 0px;
    line-height: 1;
}

aside.blog-sidebar ul li:last-child {
    border-color: transparent;
}

aside.blog-sidebar ul li a {
    color: #000;
}

aside.blog-sidebar ul li a:hover {
    color: #000;
}

aside.blog-sidebar ul.blog-categories-list li a {
    display: block;
}

aside.blog-sidebar ul.blog-categories-list li a span {
    display: inline-block;
    float: right;
    color: #888;
}

aside.blog-sidebar ul.blog-tags-list {
    margin-top: 16px;
    border: none;
}

aside.blog-sidebar ul.blog-tags-list li {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
}

aside.blog-sidebar ul.blog-tags-list li a {
    display: inline-block;
    color: #f5f5f5;
    background: #888;
    line-height: 1;
    padding: 8px;
    margin: 4px 2px;
}

aside.blog-sidebar ul.blog-tags-list li a:hover {
    background: #f44336;
}

/**--------------------------------------------------------------
	[Universal styles]
	--------------------------------------------------------------**/
.social-links-list li {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 12px;
}

.social-links-list li:last-child {
    margin-right: 0px;
}

.my-social-link {
    display: inline-block;
    -webkit-filter: gray;
    filter: gray;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.my-social-link img {
    width: 40px;
}

.my-social-link:hover {
    -webkit-filter: none;
    filter: none;
}

.carousel-indicators {
    bottom: 15px;
    margin: 0;
    padding: 0;
    right: 0;
    left: 0;
    margin: auto;
    line-height: 1;
}

.carousel-indicators li {
    width: 16px;
    height: 16px;
    border: 4px solid #fff;
    margin: 0;
    background: #f5f5f5;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.carousel-indicators .active {
    width: 16px;
    height: 16px;
    background: #f44336;
}

.blog-post-link {
    color: #000;
}

ul.blog-tags-list li {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
}

ul.blog-tags-list li a {
    display: inline-block;
    color: #f5f5f5;
    background: #888;
    line-height: 1;
    padding: 8px;
    margin: 4px 2px;
}

ul.blog-tags-list li a:hover {
    background: #f44336;
}

ul.blog-pagination li {
    display: inline-block;
    width: 46px;
    height: 46px;
    text-align: center;
}

ul.blog-pagination li a {
    display: block;
    line-height: 1;
    padding: 15px;
    color: #888;
    border: 1px solid #D4D4D4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

ul.blog-pagination li a:hover {
    background: #f44336;
    color: #f5f5f5;
    border-color: transparent;
}

ul.blog-pagination .active a {
    background: #f44336;
    color: #f5f5f5;
    border-color: transparent;
}

.block-timeline .company-edu1 {
    background: url(./images/jit.jpg);
}

.block-timeline .company-edu2 {
    background: url(./images/jinge.jpg);
}

.block-timeline .company-edu3 {
    background: url(./images/iiseeuu.jpg);
}

.block-timeline .company-edu4 {
    background: url(./images/wulian.jpg);
}

.block-timeline .project1 {
    background: url(./images/shgg.jpg)
}

.block-timeline .project2 {
    background: url(./images/kjcx.jpg)
}

.block-timeline .timeline {
    margin-top: 40px;
}

.block-timeline .timeline:before {
    background: #D4D4D4;
    width: 3px;
}

.block-timeline .timeline .event label {
    font-weight: normal;
}

.block-timeline .timeline .event label:after {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: -3px;
    color: #f44336;
    -webkit-box-shadow: 0 0 0 2px #eeeeee;
    box-shadow: 0 0 0 2px #eeeeee;
    background: #eeeeee;
}

.block-timeline .timeline .event input[type="radio"] {
    width: 100%;
}

.block-timeline .timeline .event input[type="radio"]:checked ~ .thumb {
    -webkit-box-shadow: 0 0 0 8px #d02014, 0 1px 1px white;
    box-shadow: 0 0 0 8px #d02014, 0 1px 1px white;
}

.block-timeline .timeline .event input[type="radio"]:checked ~ .content-perspective .content-inner {
    border-color: #d02014;
    -webkit-box-shadow: 10px 10px 0px -6px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 0px -6px rgba(0, 0, 0, 0.1);
}

.block-timeline .timeline .event input[type="radio"]:checked ~ .content-perspective .content-inner p {
    color: #111;
}

.block-timeline .timeline .event input[type="radio"]:checked ~ .content-perspective .content-inner h3 {
    color: #111;
}

.block-timeline .timeline .event input[type="radio"]:checked ~ .content-perspective .content-inner:before {
    color: #d02014;
}

.block-timeline .timeline .event input[type="radio"]:checked ~ .content-perspective:before {
    background: #f44336;
}

.block-timeline .timeline .event input[type="radio"]:checked ~ .thumb span {
    color: #111;
}

.block-timeline .timeline .event input[type="radio"]:checked ~ .thumb:before {
    background: #f44336;
}

.block-timeline .timeline .event input[type="radio"]:checked + label:after {
    color: #d02014;
    -webkit-box-shadow: 0 0 0 5px #f5f5f5;
    box-shadow: 0 0 0 5px #f5f5f5;
}

.block-timeline .thumb {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 0%;
    border-radius: 0%;
    -webkit-box-shadow: 0 0 0 8px #f44336, 0 1px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 8px #f44336, 0 1px 1px rgba(255, 255, 255, 0.5);
    background-color: #fff;
}

.block-timeline .thumb span {
    bottom: -40px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 0.88889rem;
    color: #111;
}

.block-timeline .thumb:before {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #D4D4D4;
    height: 1px;
    top: 44px;
    width: 45px;
}

.block-timeline .thumb:after {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #D4D4D4;
    height: 1px;
}

.block-timeline .content-inner {
    border-left: 6px solid #f44336;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.block-timeline .content-inner:before {
    color: #f44336;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.block-timeline .content-inner h3 {
    margin: 15px 0px 0px;
    font-size: 1.11111rem;
    color: #111;
}

.block-timeline .content-inner h3 span {
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    text-transform: none;
}

.block-timeline .content-inner p {
    font-size: 100%;
    color: #111;
}

.block-timeline .content-perspective:before {
    left: -49px;
    background: #D4D4D4;
}

.btn-cta {
    background: transparent;
    border: 3px solid #f44336;
    color: #f44336;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    padding: 12px 48px;
    text-align: center;
    font-size: 1rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-cta:hover, .btn-cta:focus, .btn-cta:active {
    background: #f5f5f5;
    border-color: #f5f5f5;
}

.btn-cta-solid {
    color: #f5f5f5;
    background: #f44336;
}

.btn-search {
    background: none;
}

.btn-search img {
    width: 18px;
    height: 18px;
}

.color-bg {
    background: #eeeeee !important;
}

.sstt.is-single {
    z-index: 999;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 15px;
    padding: 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 40px;
    height: 40px;
    text-align: center;
}

.sstt.is-single span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

    a.sstt.is-single {
        position: fixed;
    }

    .section-intro {
        background-position: 360px;
    }

    .section-blog-posts h1 {
        margin: 0;
    }

    .section-blog-posts .blog-grid-sizer, .section-blog-posts .blog-post-preview {
        width: 100%;
    }

    .section-blog-posts .blog-post-preview {
        padding: 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
    .section-skills .skill-wrapper {
        margin-bottom: 64px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
    html {
        font-size: 90%;
    }

    .responsive-menu {
        display: table;
    }

    .top-menu .child-menu {
        display: none !important;
        visibility: visible;
        opacity: 1;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        padding: 0;
    }

    .top-menu .child-menu li {
        padding: 5px 0px;
    }

    .top-menu li.has-child-menu .menu-next-btn {
        display: inline-block;
    }

    .top-menu li.menu-expanded > a {
        padding-left: 20px;
    }

    .top-menu li.menu-expanded > a:before {
        right: -15px;
    }

    .top-menu li.menu-expanded .child-menu {
        display: block !important;
    }

    .top-menu li.menu-expanded ~ li:not(.has-child-menu) {
        display: none;
    }

    #page-sidebar-wrapper {
        left: -230px;
    }

    #page-content-wrapper {
        left: 0px;
    }

    .main-onepage .container .row, .main-onepage .container-fluid .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
    }

    .main-onepage section {
        padding: 50px 0px;
    }

    .main-onepage hr {
        margin: 0;
        border-top: 1px solid #D4D4D4;
    }

    .section-intro {
        padding: 0 !important;
        background-position: 96px;
    }

    .section-intro .section-content {
        margin-top: 52px;
    }

    .section-intro .section-content h1 {
        font-size: 2.5rem;
    }

    .section-intro .section-content h2 {
        font-size: 0.88889rem;
    }

    .section-intro-videobackground h2 {
        padding: 15px 40px;
    }

    .section-intro-videobackground .section-content {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    .section-intro-videobackground .btn-cta {
        left: 0;
    }

    .section-skills .block-my-knowledge {
        padding-bottom: 30px;
    }

    .section-skills .block-my-knowledge p {
        margin-bottom: 30px;
    }

    .section-skills .block-my-knowledge .knowledge-list {
        margin: 0;
    }

    .section-skills .block-circles-skills {
        padding: 45px 0px 0px;
    }

    .section-skills .circle-skill strong {
        top: 33%;
    }

    .section-skills .skillbar-block {
        display: block;
    }

    .section-skills .skillbar-wrapper {
        margin-bottom: 30px;
        display: block;
    }

    .section-blog-posts {
        margin-left: 0;
    }

    .section-blog-posts .section-content {
        padding-left: 15px;
    }

    .section-blog-posts h1 {
        margin: 32px 0px 0px;
    }

    .section-blog-posts ul.blog-pagination {
        margin-left: 0;
    }

    aside.blog-sidebar {
        float: left;
        max-width: 100%;
        margin-top: 32px;
        margin-right: 15px;
    }

    .section-404 .wrapper-404 {
        padding-left: 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
    .main-onepage section {
        padding: 30px 0px;
    }

    .section-intro {
        background-size: cover;
        background-position: left center;
    }

    .section-intro-videobackground .btn-cta:after {
        width: 2px;
        bottom: -170px;
    }

    .block-timeline .timeline:before {
        left: 64px;
    }

    .block-timeline .event input[type="radio"] {
        left: 15px;
    }

    .block-timeline .content-inner {
        border-top: 6px solid #f44336;
        border-left: transparent;
    }

    .block-timeline .content-inner:before {
        left: 47px;
        top: -40px;
    }

    .block-timeline .thumb {
        left: 15px;
    }

    .block-timeline .thumb:before {
        height: 0;
    }

    .section-contact .contact-form button[type=submit] {
        display: block;
        width: 100%;
    }

    .btn-cta {
        border-width: 2px;
    }

    .section-404 h1 {
        font-size: 10rem;
    }

    .section-404 h1:before, .section-404 h1:after {
        width: 100px;
    }

    .section-blog-posts {
        display: block;
    }

    .section-blog-posts .section-content {
        display: block;
        padding: 0px 15px;
    }

    .section-blog-posts aside.blog-sidebar {
        display: block;
        width: 100%;
        float: left;
        padding: 0px 15px;
    }

    .section-blog-posts h1 {
        margin: 64px 0px 0px;
    }

    .section-blog-posts ul.blog-post-properties {
        margin-bottom: 12px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1600px) {
  /**/
    .container {
        width: 1200px;
    }

    .section-intro .section-content h1 {
        font-size: 5.33333rem;
    }

    .section-intro .section-content h2 {
        font-size: 1.77778rem;
    }

    .section-intro-videobackground .section-content {
        height: 55vh;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1900px) {
  /**/
    .container {
        width: 1600px;
    }
}

/* Footer adjustment for small height devices */
@media only screen and (max-height: 720px) {
  /**/
    .block-copyright {
        position: relative;
        margin-top: 80px;
    }
}

/* button position adjustment for small height devices */
@media only screen and (max-height: 590px) {
  /**/
    .section-intro-videobackground .btn-cta {
        bottom: 50px;
    }
}

@media only screen and (max-height: 430px) {
  /**/
    .section-intro-videobackground .btn-cta {
        bottom: 20px;
    }
}

@media only screen and (max-height: 360px) {
  /**/
    .section-intro-videobackground .section-content {
        height: 50vh;
    }

    .section-intro-videobackground .btn-cta {
        bottom: 10px;
    }
}
