header
  height 60px
  margin-bottom 20px
  text-align center
  h2
    font-family wzl
    font-size 30px
    font-weight 900
    color $color2
    line-height 40px
  h4
    font-size 15px
    line-height 20px
    color $color3
