@import 'reset'
@import '_vars'
@import '_mixins'
@import '_fonts'
@import 'header'
@import 'main'
@import 'footer'
@import 'forkme'

*, *::before, *::after
  box-sizing border-box
  transition all 300ms ease-in-out

body
  color $color4
  background url('../public/bg.png') #f7f7f7
  font-family Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;

#container
  margin 0 auto
  width 860px
  max-width 100%
  margin-bottom 20px
  margin-top 30px

  a, a:visited
    color $color3
    text-decoration none
    border-bottom 1px dashed
    padding-bottom 2px
  a.active, a:hover, a:active
    color inherit
