<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <script type="text/javascript">
        var _speedMark = new Date();
    </script>
    <title>Willin.Wang 王之琳</title>
    <meta name="author" content="Willin Wang">
    <meta name="description" content="To be Willin is to be willing.">
    <meta name="keywords" content="Willin,Willin Wang,王之琳,长岛冰泪">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="{{ "/static/global.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/static/style.css" | prepend: site.url }}">
    <!-- Favicons and Touch Device Icons -->
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
    <link rel="apple-touch-icon" href="{{ site.url }}/touch-icon-iphone-precomposed.png">
    <link rel="apple-touch-icon" sizes="76x76"   href="{{ site.url }}/touch-icon-ipad-precomposed.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/touch-icon-iphone-retina-precomposed.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/touch-icon-ipad-retina-precomposed.png">
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=35280207" charset="UTF-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        var _speedMark = new Date(),base_url="{{ site.url }}/",site_title = "",duoshuoQuery = {short_name:"willin"};
        window.jQuery || document.write(unescape('%3Cscript src="/static/jquery-1.11.1.min.js"%3E%3C/script%3E'))
    </script>
    <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</head>
<body>
    <div id="logo">
        <h1>Willin Wang</h1>
        <h2>Front-End Developer / Architect</h2>
        <p>
            <a class="button" href="http://blog.willin.wang/feeling/">关于我 About</a>
            <a class="button" href="http://blog.willin.wang/">博客 Blog</a>
            <a class="button" href="http://now.willin.wang/">时光轴 Now</a>
            <a class="button" href="http://now.willin.wang/cv/">简历 Resume</a>
        </p>
    </div>
</body>
</html>